.DS_Store
.idea
.vscode
package-lock.json
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
docs/css/*.map

build/img/icon-*.svg
docs/img/icon-*.svg
Thumbs.db
