@media  screen and (max-width: 950px) {
  .about-us {
    margin-top: -1px;
    padding-bottom: 79px;

    background-color: #171717;
    background-image: url("../img/bg-bike-tablet@1x.jpg");
    background-position: center bottom;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-bike-tablet@2x.jpg");
    }
  }
}

@media  screen and (max-width: 320px) {
  .about-us {
    padding-bottom: 70px;

    background-image: url("../img/bg-bike-mobile@1x.jpg");
    background-position: center bottom;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-bike-mobile@2x.jpg");
    }
  }
}

@media  screen and (max-width: 950px) {
  .about-us__logo {
    padding-left: 22px;
    padding-top: 24px;
  }
}

@media  screen and (max-width: 320px) {
  .about-us__logo {
    padding-left: 17px;
    padding-top: 25px;
  }
}


.about-us__heading h1 {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}

@media  screen and (max-width: 1000px) {
  .about-us__heading h1 {
    font-size: 30px;
    line-height: 42px;
  }
}

@media  screen and (max-width: 950px) {
  .about-us__heading h1 {
    margin-top: 110px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media  screen and (max-width: 320px) {
  .about-us__heading h1 {
    margin-top: 97px;
    margin-bottom: 18px;
  }
}

.about-us__description p {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #FFFFFF;

  opacity: 0.8;
}

@media  screen and (max-width: 1000px) {
  .about-us__description p {
    font-size: 18px;
  }
}

@media  screen and (max-width: 950px) {
  .about-us__description p {
    max-width: 435px;
    margin: 0 auto;
    text-align: center;
  }
}

@media  screen and (max-width: 320px) {
  .about-us__description p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
