.about-bike {
  padding-top: 152px;
  padding-bottom: 149px;
  padding-left: 144px;
  padding-right: 120px;

  background-color: #F6F7F9;
}

@media  screen and (max-width: 1368px) {
  .about-bike {
    padding-left: 114px;
    padding-right: 90px;
  }
}

@media  screen and (max-width: 1311px) {
  .about-bike {
    padding-left: 84px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 1040px) {
  .about-bike {
    padding-top: 51px;
    padding-bottom: 20px;
    padding-left: 89px;
    padding-right: 89px;
  }
}

@media  screen and (max-width: 767px) {
  .about-bike {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }
}

@media  screen and (max-width: 320px) {
  .about-bike {
    padding-top: 53px;
  }
}

.about-bike__heading {
  margin-bottom: 50px;
  margin-left: -33px;
}

@media  screen and (max-width: 1040px) {
  .about-bike__heading {
    margin-bottom: 29px;
    margin-left: 0;
  }
}

.about-bike__heading h2 {
  margin: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #1F1F1F;
}

@media  screen and (max-width: 1040px) {
  .about-bike__heading h2 {
    font-size: 24px;
    line-height: 41px;
  }
}

.about-bike__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 1040px) {
  .about-bike__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media  screen and (max-width: 687px) {
  .about-bike__list {
    flex-direction: column;
    align-items: center;
  }
}

@media  screen and (max-width: 1040px) {
  .about-bike__item {
    margin-bottom: 50px;
  }
}

@media  screen and (max-width: 320px) {
  .about-bike__item {
    margin-bottom: 42px;
  }
}

@media  screen and (max-width: 1040px) {
  .about-bike__item:nth-child(1) {
    margin-right: 50px;
  }
}

@media  screen and (max-width: 687px) {
  .about-bike__item:nth-child(1) {
    margin-right: 0;
  }
}
