.button {
  min-width: 325px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;

  text-align: left;

  border: none;
  border-radius: 6px;
  background-color: #0AD9C6;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.button span {
  font-family: "Overpass", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #000000;
}
