.contacts {
  display: flex;
  max-width: 957px;
  flex-direction: column;
  margin: 0 auto;
}

.contacts__heading {
  margin-bottom: 29px;
  margin-left: 360px;
}

@media  screen and (max-width: 1000px) {
  .contacts__heading {
    margin-bottom: 20px;
  }
}

.contacts__heading h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1F1F1F;
}

@media  screen and (max-width: 1439px) {
  .contacts__heading {
    margin-left: 0;
    text-align: center;
  }
}

@media  screen and (max-width: 1000px) {
  .contacts__heading h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media  screen and (max-width: 320px) {
  .contacts__heading h2 {
    font-size: 18px;
  }
}

.contacts__address {
  display: flex;
}

.contacts__address p {
  max-width: 555px;
  margin: 0;
  margin-left: 193px;
  margin-bottom: 40px;

  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

@media  screen and (max-width: 1439px) {
  .contacts__address p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media  screen and (max-width: 1000px) {
  .contacts__address p {
    max-width: 635px;
    margin-bottom: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__address p {
    max-width: 645px;

    text-align: left;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__address p {
    max-width: 635px;

    text-align: center;
  }
}

@media  screen and (max-width: 320px) {
  .contacts__address p {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
  }
}

.contacts__map {
  position: relative;
  //margin: 1px;

  overflow: hidden;
}

.contacts__map iframe {
  position: relative;
  z-index: 2;

  width: 957px;
  height: 530px;

  border: none;
}

@media  screen and (max-width: 1000px) {
  .contacts__map iframe {
    max-width: 698px;
    height: 545px;
  }
}

@media  screen and (max-width: 740px) {
  .contacts__map iframe {
    width: 100%;
    height: 255px;
  }
}

@media  screen and (max-width: 320px) {
  .contacts__map iframe {
    width: 100%;
    height: 250px;
  }
}

.contacts__map img {
  position: absolute;

  top: -3px;
  left: 0;
  z-index: 1;

  margin: 0;

  height: 100%;
}

.contacts__wrapper-text {
  display: flex;
  padding-left: 195px;
  padding-top: 32px;
}

@media  screen and (max-width: 1439px) {
  .contacts__wrapper-text {
    justify-content: center;
    padding-left: 0;
  }
}

@media  screen and (max-width: 1000px) {
  .contacts__wrapper-text {
    padding-top: 16px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__wrapper-text {
    justify-content: flex-start;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__wrapper-text {
    justify-content: center;
  }
}

@media  screen and (max-width: 668px) {
  .contacts__wrapper-text {
    flex-direction: column;
    align-items: center;
  }
}

@media  screen and (max-width: 320px) {
  .contacts__wrapper-text {
    padding-top: 25px;
  }
}

.contacts__email {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 90px;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .contacts__email {
    margin-right: 95px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__email {
    margin-right: 90px;
  }
}

@media  screen and (max-width: 668px) {
  .contacts__email {
    margin-right: 0;
    margin-bottom: 22px;
  }
}

@media  screen and (max-width: 658px) {
  .contacts__email {
    margin-bottom: 0;
  }
}

.contacts__email li {
  margin-bottom: 20px;
}

@media  screen and (max-width: 768px) {
  .contacts__email li {
    display: flex;
    padding-left: 70px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__email li {
    padding-left: 0;
  }
}

@media  screen and (max-width: 658px) {
  .contacts__email li {
    margin-bottom: 22px;
  }
}

.contacts__email a {
  padding-left: 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
  cursor: pointer;
}

.contacts__email a:hover {
  opacity: 0.8;
}

.contacts__email a:active {
  opacity: 0.5;
}

@media  screen and (max-width: 658px) {
  .contacts__email a  {
    line-height: 22px;
  }
}

.email__icon {
  margin-top: 2px;
}

.contacts__phone {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  list-style: none;
}

.contacts__phone li {
  margin-bottom: 20px;
}

@media  screen and (max-width: 768px) {
  .contacts__phone li {
    display: flex;
  }
}

.contacts__phone a {
  padding-left: 15.5px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
  cursor: pointer;
}

@media  screen and (max-width: 768px) {
  .contacts__phone a {
    padding-left: 14px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__phone a {
    padding-left: 4px;
  }
}

.contacts__phone a:hover {
  opacity: 0.8;
}

.contacts__phone a:active {
  opacity: 0.5;
}

@media  screen and (max-width: 658px) {
  .contacts__phone a {
    padding-left: 16px;
    line-height: 22px;
  }
}

.phone__icon {
  margin-top: -4px;
  margin-left: -5px;
}

@media  screen and (max-width: 768px) {
  .phone__icon {
    padding-left: 0;
  }
}

@media  screen and (max-width: 658px) {
  .phone__icon {
    margin-left: -16px;
  }
}

.phone__icon {
  fill: #ffffff;
 }
