.features {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 140px;
  padding-left: 137px;
  padding-right: 137px;

  background-color: #ffffff;
}

@media  screen and (max-width: 1138px) {
  .features {
    padding-bottom: 30px;
    padding-left: 106px;
    padding-right: 106px;
  }
}

@media  screen and (max-width: 950px) {
  .features {
    padding-top: 0;
  }
}

@media  screen and (max-width: 767px) {
  .features {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media  screen and (max-width: 655px) {
  .features {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media  screen and (max-width: 400px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 48px;
  }
}


.features__heading {
  margin-bottom: 50px;
}

@media  screen and (max-width: 1138px) {
  .features__heading {
    margin-bottom: 30px;
  }
}

.features__heading h2 {
  margin: 0;
  padding-left: 15px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1F1F1F;
  text-align: center;
}

@media  screen and (max-width: 1138px) {
  .features__heading h2 {
    padding-left: 3px;

    font-size: 24px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 320px) {
  .features__heading h2 {
    padding-left: 0;

    text-align: left;
  }
}

.features__list-wrapper {
  max-width: 1166px;
  margin: 0 auto;
}

@media  screen and (max-width: 1439px) {
  .features__list-wrapper {
    max-width: 865px;
  }
}

@media  screen and (max-width: 1138px) {
  .features__list-wrapper {
    max-width: 564px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -38px;

  list-style: none;
}

@media  screen and (max-width: 1138px) {
  .features__list {
    margin-right: -30px;
  }
}

@media  screen and (max-width: 605px) {
  .features__list {
    justify-content: center;
    margin-right: 0;
  }
}

.list-features__item {
  max-width: 263px;
  margin-right: 38px;

  text-align: center;
}

@media  screen and (max-width: 1439px) {
  .list-features__item {
    margin-bottom: 30px;
  }
}

@media  screen and (max-width: 1138px) {
  .list-features__item {
    margin-right: 30px;
  }
}

@media  screen and (max-width: 605px) {
  .list-features__item {
    margin-right: 0;
  }
}

@media  screen and (max-width: 400px) {
  .list-features__item {
    margin-bottom: 22px;
  }
}

@media  screen and (max-width: 400px) {
  .list-features__item:nth-child(2) {
    margin-bottom: 47px;
  }
}

@media  screen and (max-width: 400px) {
  .list-features__item:nth-child(3) {
    margin-bottom: 47px;
  }
}

@media  screen and (max-width: 400px) {
  .list-features__item:nth-child(3) span {
    margin-bottom: 6px;
  }
}


.list-features__item span {
  display: block;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  color: #0AD9C6;
}

@media  screen and (max-width: 400px) {
  .list-features__item span {
    margin-bottom: 12px;
  }
}

.list-features__item p {
  margin: 0;
  padding-bottom: 10px;

  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #000000;
}

@media  screen and (max-width: 400px) {
  .list-features__item p {
    font-size: 18px;
  }
}
