.main-nav {
  max-width: 866px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  display: none;
}
