.order {
  margin-left: 172px;
  padding-top: 5px;
}

.order__description p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}
