.order {
  margin-left: 172px;
  padding-top: 5px;
}

@media  screen and (max-width: 1200px) {
  .order {
    margin-left: 86px;
  }
}

@media  screen and (max-width: 1000px) {
  .order {
    margin-left: 76px;
  }
}

@media  screen and (max-width: 950px) {
  .order {
    margin-left: 0;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media  screen and (max-width: 767px) {
  .order {
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.order__description p {
  max-width: 327px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}

@media  screen and (max-width: 950px) {
  .order__description p {
    max-width: 321px;
    margin-bottom: 31px;
    font-size: 18px;
    color: #000000;
  }
}

@media  screen and (max-width: 767px) {
  .order__description p {
    max-width: 100%;
  }
}

@media  screen and (max-width: 320px) {
  .order__description p {
    margin-bottom: 20px;
  }
}
