.site-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 950px) {
  .site-list {
    flex-direction: column;
  }
}

.site-list__item {
  margin-right: 134px;
  padding-top: 20px;
  padding-bottom: 9px;
}


@media  screen and (max-width: 1200px) {
  .site-list__item {
    margin-right: 67px;
  }
}

@media  screen and (max-width: 950px) {
  .site-list__item {
    margin-right: 0;
  }
}

.site-list :last-child {
  margin-right: 0;
}

.site-list__link:hover {
  opacity: 0.8;
}

.site-list__link:active {
  opacity: 0.5;
}

.site-list a {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  letter-spacing: -0.005em;

  opacity: 0.7;
  text-decoration: none;
}

@media  screen and (max-width: 950px) {
  .site-list a {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 55px;

    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #48494D;
    letter-spacing: 0;

    opacity: 1;
    background-color: #F6F6F6;
  }

  .site-list a::after {
    content: "";

    position: absolute;
    top: 17px;
    right: 17px;

    width: 25px;
    height: 25px;

    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 25px 25px;
  }
}
