.video {
  padding-top: 121px;
  padding-bottom: 75px;
  padding-left: 256px;
  padding-right: 255px;

  background-color: #131314;
  background: linear-gradient( #131314 80.3%, #ffffff 19.7%);
}

@media  screen and (max-width: 1040px) {
  .video {
    padding-top: 70px;
    padding-bottom: 35px;
    padding-left: 133px;
    padding-right: 132px;

    background: linear-gradient( #131314 77.4%, #ffffff 22.6%);
  }
}

@media  screen and (max-width: 700px) {
  .video {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media  screen and (max-width: 400px) {
  .video {
    padding-top: 84px;

    background: linear-gradient( #131314 82.1%, #ffffff 17.9%);
  }
}

.video__heading h2 {
  margin: 0;
  margin-left: -11px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #FFFFFF;
}

@media  screen and (max-width: 1040px) {
  .video__heading h2 {
    margin-left: 0;

    font-size: 24px;
  }
}

@media  screen and (max-width: 400px) {
  .video__heading h2 {
    text-align: left;
  }
}

.video__description p {
  max-width: 340px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 55px;
  padding-left: 10px;


  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: #FFFFFF;

  opacity: 0.7;
}

@media  screen and (max-width: 768px) {
  .video__description p {
    max-width: 439px;
    margin-bottom: 40px;
    margin-left: 26px;

    text-align: center;
  }
}

@media  screen and (max-width: 767px) {
  .video__description p {
    margin-left: 0;
    padding-left: 0;
  }
}

@media  screen and (max-width: 700px) {
  .video__description p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media  screen and (max-width: 400px) {
  .video__description p {
    margin-bottom: 53px;
  }
}

.video__image {
  position: relative;
  max-width: 929px;
  margin: 0 auto;
}

.video__image img {
  width: 100%;
  max-width: 929px;
  height: auto;
}


/* .video__image:hover .video__button {
  opacity: 0.8;
}

.video__image:active .video__button {
  opacity: 0.5;
} */

.video__link picture {
  display: flex;
}

.video__button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;

  background-color: transparent;

  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.video__button:hover {
  opacity: 0.8;
}

.video__button:active {
  opacity: 0.5;
}

.video__button:active,
.video__button:focus {
  outline: none;
}

@media  screen and (max-width: 1040px) {
  .video__button {
    width: 91px;
    height: 91px;
  }
}

@media  screen and (max-width: 450px) {
  .video__button {
    width: 65px;
    height: 65px;
  }
}

.video__button-img {
  display: flex;

  fill: #0AD9C6;
}

@media  screen and (max-width: 1040px) {
  .video__button-img {
    width: 91px;
    height: 91px;
  }
}

@media  screen and (max-width: 450px) {
  .video__button-img {
    width: 65px;
    height: 65px;
  }
}


