html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

@media  screen and (max-width: 950px) {
  .body-lock {
    position: fixed;
    //overflow-y: scroll;
    //overflow: hidden;
  }
}
